<footer class="bg-light">
  <div class="container">
    <p>
  The code is maintained by <a href="ttsugrii@fb.com">Taras Tsugrii</a>. Find the repo on <a href="{{ pkg.repository.url }}">GitHub</a>.
</p>
    <p>
  This page was generated on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}
    </p>
  </div>
</footer>