<header>
    <ul class="nav">
        <li>
            <a href="/">home<small>summit home</small>
            </a>
        </li>
        <li>
            <a href="/about">about<small>all about the summit</small>
            </a>
        </li>
    </ul>
    <h1>{{ title }}</h1>
    {%- if subtitle %}
        <p class="subtitle">{{ subtitle | safe }}</p>
    {% endif %}
</header>