<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            Performance Summit
        </a>
        <div class="collapse navbar-collapse navbar-nav mr-auto" id="navbarSupportedContent">
            {% set navPages = collections.all | eleventyNavigation %}
            {%- for entry in navPages -%}
                <a href="{{ entry.url | url }}" class="nav-item nav-link {% if entry.url == page.url %}active{% endif %}">{{ entry.title }}</a>
            {%- endfor -%}
        </div>
    </nav>
    <div class="jumbotron">
        <h1>{{ title }}</h1>
        {%- if subtitle %}
            <p class="subtitle">{{ subtitle | safe }}</p>
        {% endif %}
    </div>
</header>